<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.awaysoft.nightlymode"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- permission for umeng sdk -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- umeng end -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PreferenceActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".AppSelectActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:launchMode="singleInstance"/>

        <receiver android:name="com.awaysoft.nightlymode.services.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".services.NightlyService"
            android:exported="false"
            android:label="AutoNighlty"
            android:permission="android.permission.STATUS_BAR_SERVICE">
            <intent-filter android:priority="1000">
                <action android:name="com.awaysoft.nightlymode.services.NightlyServices"/>
            </intent-filter>
        </service>

        <!-- umend sdk -->
        <meta-data android:value="53da5b43fd98c55520002a1a" android:name="UMENG_APPKEY"/>
        <meta-data android:value="default" android:name="UMENG_CHANNEL"/>
        <!-- umeng end -->
    </application>

</manifest>
